results/
7B/
13B/
llama/
__pycache__/
checkpoint**
minimal-llama**
upload.py
lora-**
*ckpt
wandb
evaluate.py
todo.txt
.venv
.vscode
alpaca_data_cleaned_archive.json
alpaca_data_gpt4.json
alpaca_data.json
mmlu/data/
data/
data
.ipynb_checkpoints